<h2>Welcome to the Project Tracker</h2>

<h2>Add an Employee to our database:</h2>

<form action="/employees" method="post">
  <div class="form-group">
    <label class="form-label" for='name'>Employee Name:</label>
    <input class="form-control" id='name' name='name' type='text'>
    </br>
    <button type="submit" class="button btn-success">Add Employee</button>
  </div>
</form>
