<h2>Add a Project to our database:</h2>

<form action="/projects" method="post">
  <div class="form-group">
    <label class="form-label" for='title'>Project Name:</label>
    <input class="form-control" id='title' name='title' type='text'>
    </br>
    <button type="submit" class="button btn-success">Add Project</button>
  </div>
</form>
