<h1>Welcome to the Projects page</h1>

<% if @projects.any?() %>
  <p>Click on a Project to see information about it and add employees to it:</p>

  <ul>
    <% @projects.each do |project| %>
    <li><a href="/projects/<%= project.id() %>"><%= project.title() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no projects added yet!</p>
<% end %>


<p><a href="/">Return to Home Page</a></p>
